STAGE=prod #dev, prod
JWT_KEY=123

# needed only stage is prod
DB_HOST=https://host.docker.internal
DB_PORT=5432
# need all the time
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=lifery

# Email Configuration
EMAIL_ADDRESS=your-email@gmail.com
EMAIL_PASSWORD=your-app-password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
FRONTEND_URL=http://localhost:3000
