version: "3.9"

services:
  case:
    build: .
    container_name: case-container
    volumes:
      - .env:/app/.env
    ports:
      - "8080:8080"
    depends_on:
      - postgres
    restart: on-failure

  postgres:
    image: postgres:latest
    container_name: postgres
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
